@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, XPO NET6!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<label>
    Name
    <input @bind="Name" />
</label>
<button @onclick="Save">Save</button>
<div>
    @foreach (var user in Users)
    {
        <label>
            @user.Name
        </label>
        <br>
    }

</div>
